# health report environments
colorlog
numpy==1.26.4
matplotlib
pydantic
PyYAML
sqlalchemy
mysql-connector-python
scipy
fastapi
uvicorn
nest_asyncio
aiohttp
requests
openai
pandas
# torch
--find-links https://download.pytorch.org/whl/cu118
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0